
$color-white: #ffffff;
$white-hover: #e3e4e5;
$border-yellow: #eac10c;
$color-shadow: rgba(0, 0, 0, 0.1);
$shadow-hover: rgba(0, 0, 0, 0.15);
$color-blue: #075adf;
$color-card: #666;
$color-label: #999;
$color-mapa: #6f9c76;
$color-b-article: rgba(229, 230, 235, 0.233);
$c-article-heder: #212529;
$color-footer: #022e39;




